
@font-face {
  font-family: 'iconfont';  /* project id 1314453 */
  src: url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.eot');
  src: url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1314453_r04tdl3z6di.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 50rpx;
  color:#ddd;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconweb__zanwujilu:before {
  content: "\e636";
}

.iconicon-test:before {
  content: "\e63c";
}
